{% extends "base.html" %}

{% block titulo %}Título da Página{% endblock %}

{% block conteudo %}
    <h1>Adicionar Pokémon ao time {{ time[1] }}</h1>

    <form method="POST" class="formulario">
        <input type="text" name="especie" placeholder="Espécie (ex: Incineroar)" required><br>
        <input type="text" name="item" placeholder="Item"><br>
        <input type="text" name="habilidade" placeholder="Habilidade"><br>
        <input type="text" name="natureza" placeholder="Natureza"><br>
        <input type="text" name="tera_type" placeholder="Tera Type"><br>
        <input type="text" name="golpe1" placeholder="Golpe 1"><br>
        <input type="text" name="golpe2" placeholder="Golpe 2"><br>
        <input type="text" name="golpe3" placeholder="Golpe 3"><br>
        <input type="text" name="golpe4" placeholder="Golpe 4"><br>
        <button type="submit">Adicionar</button>
    </form>
    <p class="mensagem">{{ mensagem }}</p>
    <a href="/times/{{ time[0] }}" class="btn btn-secundario">Voltar</a>
{% endblock %}