{% extends "base.html" %}

{% block titulo %}Título da Página{% endblock %}

{% block conteudo %}
    <h1>{{ time[1] }} <small>({{ time[2] }})</small></h1>
    <p>{{ pokemons|length }}/6 Pokémon</p>

    {% if pokemons %} {% for p in pokemons %}
    <div class="pokemon-card">
      <strong>{{ p[1] }}</strong>
      {% if p[2] %} @ {{ p[2] }}{% endif %}<br />
      Habilidade: {{ p[3] }} | Natureza: {{ p[4] }} | Tera: {{ p[5] }}<br />
      Golpes: {{ p[6] }} / {{ p[7] }} / {{ p[8] }} / {{ p[9] }}
      <form
        method="POST"
        action="/pokemon/{{ p[0] }}/excluir"
        onsubmit="return confirm('Excluir {{ p[1] }} do time?');"
      >
        <button type="submit" class="btn-danger">Excluir</button>
      </form>
      <a href="/pokemon/{{ p[0] }}/editar" class="btn-link">Editar</a>
    </div>
    {% endfor %} {% else %}
    <p>Nenhum Pokémon ainda.</p>
    {% endif %} {% if pokemons|length < 6 %}
    <a href="/times/{{ time[0] }}/pokemon/novo" class="btn">+ Adicionar Pokémon</a><br />
    {% endif %}
    <a href="/times" class="btn btn-secundario">Voltar aos times</a>
    <form method="POST" action="/times/{{ time[0] }}/excluir" class="form-excluir-time"
    onsubmit="return confirm('Excluir o time {{ time[1] }} inteiro?');">
    <button type="submit" class="btn-danger">Excluir time</button>
    </form>
{% endblock %}
